@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
 /* Сглаживание */
 body {
   -webkit-font-smoothing: subpixel-antialiased !important;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility:  hidden;
   -ms-backface-visibility:   hidden;
 }