.weather-widget {
  font-family: 'OpenSans', sans-serif;
  font-size: 10px;
  color: #2c3e50;
  margin-top: 60px;

  &__view {
    border: 1px solid rgba($color: #000000, $alpha: .1);
    width: 225px;
    padding: 16px;
    box-sizing: border-box;
  }

  &__city-name {
    font-weight: bold;
    font-size: 12px;
  }

  &__main-info {
    display: flex;
    align-items: center;
  }

  &__icon {
    img {
      max-width: 100px;
    }
  }

  &__temp {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
  }

  &__other-info {
    display: flex;
    flex-wrap: wrap;
  }

  &__other-info-item {
    margin-top: 16px;
    margin-right: 16px;
    line-height: 12px;

    &_wind {
      display: flex;
      align-items: center;

      img {
        height: 12px;
        margin-right: 4px;
      }
    }

    &_pressure {
      display: flex;
      align-items: center;

      img {
        height: 12px;
        margin-right: 4px;
      }
    }
  }
}
